@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
  font-family: 'Electrolize', sans-serif;
  color: white;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 

body {
  background-color: #22577a;
}

div.proj {
  padding:5em;
  margin: 2em;
}

div.proj-title {
  text-align: center;
}

div.proj-status {
  text-align: center;
}

div.proj-status-label {
  text-align: center;
}

div.proj-api {
  text-align: center;
  font-size: 60%;
}